<h1> Welcome to JaraGram </h1>
<h4> Please Sign Up or Sign In to continue </h4>
<br/>
<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-dark' %>
<%= link_to 'Sign In', new_user_session_path, class: 'btn btn-dark' %>
